.coursebox .content .customfields-container {
     display: none;
}
.card-grid-container {
    .card-grid {
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
     gap: 1rem;
     margin-bottom: 2rem;
          .card {
               position: relative;
               .dashboard-card-img {
                    object-fit: cover;
                    max-width: 100%;
                    background-size: 100%;
                    background-repeat: no-repeat;
               }
          }
    }
}
