//
// Login, sign up, forgoten password pages.
//
#page-login-index,
#page-login-signup {
    #page-wrapper {
        height: 100%;
    }
    #page {
        background-image: url([[pix:theme|background]]);
        background-size: cover;
        background-position: center;
        background-color: transparent;
    }

    // Vertical center of form.
    #loginform {
        margin-top: 5vh;
    }

    // Disable collapse.
    .collapsible-actions,
    .ftoggler {
        display: none;
    }



    // No footer.
    #page-footer {
        display: none;
    }
}

// Forgoten password pages.
#page-login-forgot_password {
    // No colour bar.
    &:before,
    .login-container:before {
        display: none;
    }
    #page-wrapper {
        height: 100vh;
    }
    // No header.
    #site-header {
        display: none;
    }
    // Center form.
    #page-content {
        margin: 0 auto;
        max-width: 600px;
    }
    // Remove wierd margin.
    .mform fieldset {
        margin-left: 0;
    }
}
#page-login-signup {
    .login-container:before {
        background-color: #fff;
        border-radius: 30px;
        background-image: none;
        height: 100%;
    }
}

@include media-breakpoint-up(md) {
    .login-container {
        padding: 7rem 3rem 3rem 3rem;
        background-color: transparent;
        box-shadow: none;
        position: relative;
        .login-heading {
            display: none;
        }
        .loginform {
            position: relative;
            z-index: 1;
        }

    }
}
