{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_holland/theme/course_header

    Example context (json):
    {
        "courseid": 1,
        "courseimage": "http://localhost/moodle/theme/image.php/boost/core/1610137878/f/pdf-24",
        "pagename": "Course name",
        "coursesummary": "Course summary",
        "navbar": "<nav>...</nav>",
        "pageheadingbutton": "<button>...</button>",
        "canedit": true,
        "contextid": 1
    }
}}
<div id="page-header" {{#courseimage}} class="pt-3" {{/courseimage}}>
    <div id="page-header-container" class="container-fluid p-0">
        <div class="d-flex flex-column flex-lg-row gap-lg-3">
            <div class="flex-grow-1 min-width-0 order-1 order-lg-0">
                <div id="page-header-content">
                    <div class="d-flex flex-wrap gap-3">
                        {{! Title. }}
                        <div id="titlecontainer" class="d-flex flex-grow-1 align-items-start">
                            {{#pagename}}
                                <h1 id="page-header-title" class="align-self-start d-inline-block me-2">
                                    {{{pagename}}}
                                </h1>
                            {{/pagename}}
                        </div>
                        {{#teachers}}
                            <div class="course-info-teacher">
                                {{{picture}}}
                                <span class="course-info-value">{{fullname}}</span>
                            </div>
                        {{/teachers}}
                    </div>
                    {{! Course info. }}
                    {{#category}}
                    <div class="course-info d-flex flex-wrap gap-3 my-2">
                        <div class="course-info-item course-info-category">
                            <span class="course-info-label">{{#str}} category, moodle {{/str}}</span>
                            <span class="course-info-value">{{category}}</span>
                        </div>
                        {{#activitycount}}
                        <div class="course-info-item course-info-activities">
                            <span class="course-info-label">{{#str}} activities, moodle {{/str}}</span>
                            <span class="course-info-value"><span class="badge text-bg-secondary">{{activitycount}}</span></span>
                        </div>
                        {{/activitycount}}
                        <div class="course-info-dates d-flex gap-3 w-100">
                            {{#startdate}}
                            <div class="course-info-item course-info-startdate">
                                <span class="course-info-label">{{#str}} startdate, moodle {{/str}}</span>
                                <span class="course-info-value"><span class="badge text-bg-secondary">{{startdate}}</span></span>
                            </div>
                            {{/startdate}}
                            {{#enddate}}
                            <div class="course-info-item course-info-enddate">
                                <span class="course-info-label">{{#str}} enddate, moodle {{/str}}</span>
                                <span class="course-info-value"><span class="badge text-bg-secondary">{{enddate}}</span></span>
                            </div>
                            {{/enddate}}
                        </div>

                        {{#customfields}}
                        <div class="course-info-item course-info-customfield">
                            <span class="course-info-label">{{name}}</span>
                            <span class="course-info-value">{{{value}}}</span>
                        </div>
                        {{/customfields}}
                    </div>
                    {{/category}}
                    {{! Summary. }}
                    {{#coursesummary}}
                        <div id="page-header-summary" class="display-11 my-3 mx-1">
                            {{{coursesummary}}}
                        </div>
                    {{/coursesummary}}
                </div>
            </div>
            <div class="flex-shrink-0 text-center">
                {{#courseimage}}
                    <div class="course-header-image position-relative">
                        <div class="course-header-image-bg" style="background-image: url('{{{courseimage}}}');"></div>
                        {{#canedit}}
                        <button class="btn btn-secondary btn-icon icon-no-margin course-image-edit-button"
                            data-action="course-image-edit-form"
                            data-courseid="{{courseid}}">
                            {{#pix}} e/insert_edit_image, core {{/pix}}
                        </button>
                        {{/canedit}}
                    </div>
                {{/courseimage}}
                <div class="d-flex align-items-center justify-content-end">
                    {{{pageheadingbutton}}}
                </div>
                <div class="header-actions-container ms-auto" data-region="header-actions-container">
                    {{#headeractions}}
                        <div class="header-action ms-2">{{{.}}}</div>
                    {{/headeractions}}
                </div>
            </div>
        </div>
    </div>
</div>
{{#js}}
require(['theme_holland/course_image_form', 'theme_holland/featurecourse'], function(courseImageForm, featurecourse) {
    courseImageForm.init();
    featurecourse.init({{courseid}});
});
{{/js}}
