{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_holland/frontpage

    Holland frontpage layout template.

    No course index or block drawers are used. Two block regions are rendered
    inline: fp-before (before region-main) and fp-after (after region-main).

    Context variables required for this template:
    * sitename - The name of the site
    * output - The core renderer for the page
    * bodyattributes - attributes for the body tag as a string of html attributes
    * sidepreblocks - HTML for the side-pre block region
    * hassidepre - true if there are blocks in side-pre
    * sidepostblocks - HTML for the side-post block region
    * hassidepost - true if there are blocks in side-post
    * numblockssidepre - Number of block columns for side-pre (1-6)
    * numblockssidepost - Number of block columns for side-post (1-6)
    * holland - Object with hasfeaturedcourses and featuredcourses

    Example context (json):
    {
        "sitename": "Moodle",
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Test page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headings make html validators happier</h1>"
        },
        "bodyattributes": "",
        "sidepreblocks": "",
        "hassidepre": false,
        "sidepostblocks": "",
        "hassidepost": false,
        "numblockssidepre": 4,
        "numblockssidepost": 4,
        "addblockbutton": "",
        "holland": {
            "hasfeaturedcourses": false,
            "featuredcourses": []
        }
    }
}}
{{> theme_boost/head }}

<body {{{ bodyattributes }}}>
{{> core/local/toast/wrapper}}
<div id="page-wrapper" class="d-print-block">

    {{{ output.standard_top_of_body_html }}}

    <div id="page" data-region="mainpage" data-usertour="scroller" class="drawers frontpage-layout drag-container">
        {{> theme_holland/theme/adminbar }}
        {{#loggedin}}
            {{> theme_holland/theme/navbar }}
        {{/loggedin}}
        <div id="topofscroll" class="main-inner">

            {{{ output.full_header }}}
            {{^loggedin}}
            {{> theme_holland/theme/homebanner }}
            {{/loggedin}}

            <div id="page-content" class="pb-3 d-print-block">

                {{#addpreblockbutton}}
                    <div class="preblockbutton">
                        {{{ addpreblockbutton }}}
                    </div>
                {{/addpreblockbutton}}
                <div class="wrapper-gray">
                    <section id="frontpage-blocks-before" class="frontpage-blocks frontpage-blocks-before row row-cols-1 row-cols-sm-{{numblockssidepresm}} row-cols-lg-{{numblockssidepre}} g-4" data-region="blocks-column" aria-label="{{#str}}blocks{{/str}}">
                        {{{ sidepreblocks }}}
                    </section>
                </div>

                <div id="region-main-box">
                    <div id="region-main">
                        {{{ output.course_content_header }}}
                        {{#headercontent}}
                            {{> core/activity_header }}
                        {{/headercontent}}
                        {{{ output.main_content }}}
                        {{{ output.course_content_footer }}}
                    </div>
                </div>

                {{> theme_holland/theme/frontpage/featuredcourses }}
                <section id="frontpage-blocks-after" class="frontpage-blocks row row-cols-1 row-cols-sm-{{numblockssidepostsm}} row-cols-lg-{{numblockssidepost}} g-4 mt-3" data-region="blocks-column" aria-label="{{#str}}blocks{{/str}}">
                    {{{ sidepostblocks }}}
                </section>
                {{#addpostblockbutton}}
                    <div class="postblockbutton">
                        {{{ addpostblockbutton }}}
                    </div>
                {{/addpostblockbutton}}

            </div>
        </div>
        {{> theme_boost/footer }}
    </div>
    {{{ output.standard_after_main_region_html }}}
</div>

</body>
</html>
{{#js}}
M.util.js_pending('theme_boost/loader');
require(['theme_boost/loader'], function(Loader) {
    M.util.js_complete('theme_boost/loader');
});
{{/js}}
